/* The is the CSS format for the HTML file. */
body {
    background-color: rgb(130, 130, 130);
    background-image: url(UATspaceLogo-2v2.png);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

h1 {
    text-align: center; 
    font-family: 'nasalizationregular'; 
    font-size: 100px;
}

p {
    text-align: center; 
    font-family: 'nasalizationregular'; 
    font-size: 40px;
}

.theButton {
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    border-color: black;
    font-family: 'nasalizationregular';
    font-size: 22px;
}

div {
    text-align: center;
    font-family: 'nasalizationregular'; 
    font-size: 20px;
}

@font-face {
    font-family: 'nasalizationregular';
    src: url('nasalization-rg.woff2') format('woff2'),
         url('nasalization-rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* The CSS parameters below are for formatting the entry fields to be centered and aligned on the page. */
#formContainer {
    width:45%;
    margin:auto;
}

#credEnter {
    width:100%;
}

.rows {
    width:100%;
    display:block;
}

.column {
      width:100%;
      display:inline-block;
}

.theLabels {
    width:30%;
    float:left;
}

.theInputs {
    width:60%;
    float:right;
}